.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 66px;
  z-index: 10;
  background: white;

  &__bar {
    height: 100%;
    box-shadow: 0px 0px 8px 0px rgba(160, 160, 160, 0.2);
  }
  &__content {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon-wrap {
    color: var(--text-color-extra-light);
    &--active {
      background: var(--secondary-color);
      border-radius: 6px;
      color: white;
    }
  }
  a {
    width: 100%;
    height: 40px;
    width: 40px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    font-size: 20px;
    // color: white;
  }
}

@media (min-width: 1200px) {
  .menu {
    position: fixed;
    left: 0;
    height: 100%;
    width: 60px;

    &__bar {
      height: 100%;

      padding-top: 20px;
    }
    &__content {
      width: 100%;
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      justify-content: space-between;
    }
    &__icon-wrap {
    }
    a {
    }
    li {
      &:first-child {
        margin-bottom: 100px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .menu {
    width: 66px;
  }
}
