.addSpace {
  padding: 40px 20px;
  width: 100%;
  position: absolute;
  transition: 0.3s;

  &__wrap {
    // height: 50vh;
    border-radius: 8px;
    // border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    // background: rgb(255, 154, 154);
  }
  &__title {
    // height: 100px;
    font-weight: 500;
  }
  &__options {
    width: 100%;

    form {
      margin-top: 0px;
      width: 100%;
      //   background: #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__spaceName {
    width: 60%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 8px 8px;
    border-bottom: 2px solid rgb(239, 239, 239);
    border-top: 2px solid rgb(239, 239, 239);
    transition: 0.2s;
  }
  &__colorsLabel {
    margin-top: 50px;
    font-weight: 500;

    text-align: center;
  }

  &__colorsWrap {
    margin: 25px auto 0;
    // width: 80%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 50px);
  }
  &__colorWrap {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__color {
    border-radius: 50%;
    height: 26px;
    cursor: pointer;
    width: 26px;
    box-shadow: 0px 0px 6px 0px rgb(221, 221, 221);
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 0px 6px 0px;
    }
  }
  &__addBtn {
    display: flex;
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 16px;
    margin: 32px auto 0;
    transition: 0.2s;
    &:hover {
      padding: 8px 24px;
    }
    // background: var(--secondary-color);
    // color: white;
  }
}

@media (min-width: 1200px) {
  .addSpace {
    position: static;
    width: 30%;
    &__spaceName {
      width: 70%;
    }
  }
}

@media (min-width: 1920px) {
  .addSpace {
    &__addBtn {
      margin: 40px auto 0;
    }
  }
}
