.tasksMobile {
  width: 100%;
  padding: 40px 20px;
  // &__tasksWrap {
  //   height: 50vh;
  //   width: 100%;
  //   background: rgb(113, 113, 255);
  // }
  &__switchWrap {
    position: relative;
    width: 100%;
  }
}
