.tasks {
  width: 100%;
  margin-bottom: 40px;
  &__heading {
    margin: 25px auto 32px;
    width: fit-content;
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
    padding: 0 8px 10px;
  }
  &__tasksSpace {
    background: rgb(248, 250, 255);

    // background: rgb(250, 251, 255);
    // min-height: 200px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 700px;
    border-radius: 6px;
    width: 100%;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__alert {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color-light);
    // color: rgb(214, 214, 214);
    color: rgb(198, 198, 198);
  }
  &__addPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    a {
      font-size: 80px;
      cursor: pointer;
      color: rgb(240, 240, 240);
      &:hover div {
        transform: translate(-50%, -50%) scale(1);
      }
      div {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 100px;
        color: var(--secondary-color);
        transform: translate(-50%, -50%) scale(0);
        transition: 0.4s;
      }
    }
  }
}

@media (min-width: 1200px) {
  .tasks {
    &__heading {
      font-size: 21px;
      padding: 0 10px 14px;
      margin-bottom: 40px;
    }
    &__tasksSpace {
      background: rgb(244, 248, 255);
    }
    &__alert {
      margin-top: 25px;
      font-size: 19px;
      color: rgb(149, 188, 255);
    }
    &__addPanel {
      a {
        font-size: 100px;
        position: relative;
        color: rgb(234, 241, 255);

        div {
          font-size: 100px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .tasks {
    &__alert {
      font-size: 20px;
    }
    &__addPanel {
      a {
        font-size: 110px;
        div {
          font-size: 110px;
        }
      }
    }
  }
}
