.task {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding: 0 15px 0 25px;
  height: 50px;
  box-shadow: 0px 0px 4px 0px rgb(230, 230, 230);
  &__doneCheck {
    height: 16px;
    margin-right: 16px;
    width: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    background: white;
    justify-content: center;
    font-size: 12px;
    border-radius: 3px;
    transition: 0.2s;
    border: 1px solid var(--secondary-color);
  }
  &__theme {
    position: absolute;
    right: 0px;
    border-radius: 0px 4px 4px 0px;
    width: 6px;
    height: 100%;
  }
  &__taskName {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
  }
}

@media (min-width: 1200px) {
  .task {
    &__doneCheck {
      margin-right: 24px;
    }
  }
}
